/* fontes*/
@font-face {
  font-family: "Ubuntu";
  src:
  local("Ubuntu"), src: url('font/ubuntu/Ubuntu-light.ttf') format('truetype'), 
   url('font/ubuntu/Ubuntu-Italic.ttf') format('truetype'),
   url ('font/ubuntu/ubuntu-Medium.ttf') format('truetype'),
   url('font/ubuntu/Ubuntu-Regular.ttf') format('truetype'),,
   url('font/ubuntu/Ubuntu-lightItalic.ttf') format('truetype'),
   url ('font/ubuntu/ubuntu-MediumItalic.ttf') format('truetype'),}
  
@font-face {
  font-family: "Ubuntubold";
 src:
 local("Ubuntubold"),
 url('font/ubuntubold/Ubuntu-Bold.ttf') format('truetype'),
 url('font/ubuntubold/Ubuntu-BoldItalic.ttf') format('truetype'),
 url('font/ubuntubold/UbuntuMono-Bold.ttf') format('truetype'),
 url('font/ubuntubold/UbuntuMono-BoldItalic.ttf') format('truetype');}
@font-face {
	font-family: "signika";
src: 
 local("signika")
 url('font/SignikaNegative-Light.ttf') format('truetype'),
 url('font/SignikaNegative-Medium.ttf') format('truetype'),
 url('font/SignikaNegative-Regular.ttf') format('truetype'),
 url('font/SignikaNegative-Bold.ttf') format('truetype'),
 url('font/SignikaNegative-SemiBold.ttf') format('truetype');}
/* formatacao padrao */
* { margin: 0;
padding: 0.}

body { font-size: 1em;
      font-family: "Ubuntu", "UbuntuBold", "signika";
     background-color: antiquewhite;}



/* layout */
#area-logo {padding:15px;
            background-color: red;}
#area-cabecalho	{background-color: red; 
                 padding: 10px; 
                 text-align: center;
		  box-shadow: 2px 2px 2px 2px rgb(0,0,0,0.46);
		 border-bottom-left-radius: 60px;
                 border-bottom-right-radius: 60px;}
#area-menu{text-align:center;
           background-color:red;	
           padding:10px;
	   border-bottom-left-radius: 60px;
	   border-bottom-right-radius: 60px;}

#area-postagens {text-align: center;}
#jogos_postagens {text-align: center-left;
background-color: white;}
#postagem-lateral {
                  padding-right: 500px; 
                  padding-left: 50px;}


#rodape {text-align:center;
         background: red;}
#categoria-lateral {text-align: center-right;
					background-color: white;}
#menu {float: left;
       background-color: white ;}

/* cor logo */
 
.branco {color:white;}

/*Estados dos botoes */
 a {color: black;
text-decoration: none;}
 a:hover {color: black;
                  text-decoration: underline;
				   background: none;
				   padding: 5
				   1px;			  
				text-decoration: underline;}
a:link {color: pink;
        padding: 8px 12px;}
a:visited {color:violet;
padding: 8px 12px;}

div a:hover {
    color: none;
    background: none;
    position: relative;
    background-color: none;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
  }

p {color:black;
font-family:"Ubuntu";}




/**** conteudo do meu site ***/
.conteudo-lateral {text-align:center;
					background: white;}
					
.branco {color:white;}

.conteudo-lateral { background: red;
					padding: -10px;}
.postagens-lateral { font-family: "Ubuntu", "Ubuntubold", "signika";
                    padding: 10px;
					margin-bottom: 1px dotted #ccc;}

.lateral { padding: 10px;}
.postagem { font-size: 1.0em;
                    padding: 10px;
					margin-bottom: 1px dotted #ccc; 
					text-align: center;}
.categoria-lateral { font-size: 0.8em;
                    padding: 10px;
					margin-bottom: 1px dotted #ccc;
					text-align: center-right;}
.menu { border-radius: 10px;}
.pos-img{border-radius: 20px; 
         box-shadow: 2px 2px 2px 2px rgb(0,0,0,0.46);
        float: left;
        margin-right: 10px;}
.titulo{float: left;}
        
        
/***** formataçao h1 ***/

h1,h5 {color: white;
font-family: "Ubuntubold";}
h2, h3 {color:black;
font-family: "Ubuntu";}
h4 {color: black;
    font-size:1,8em;
    font-family: "Ubuntubold";}

    
